*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--bg-color);
  color:var(--color);
  --color:black;
  --alt-color:white;
  --bg-color:white;
  --btn-color:#21A038;
  --tracing:gray;
  --shadow:rgba(0, 0, 0, 0.4);
  --shadow-box:0px 8px 16px var(--shadow);
}
html, body{
  overflow-x: hidden;
}

