*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--bg-color);
  color:var(--color);
  --color:black;
  --alt-color:white;
  --bg-color:white;
  --btn-color:#21A038;
  --btn-color-hover:#23b63e;
  --tracing:gray;
  --border:#f2f2f2;
  --shadow:rgba(0, 0, 0, 0.4);
  --shadow-box:0px 8px 16px var(--shadow);
  --small-shadow-box:0px 4px 8px var(--shadow);
}
html, body{
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tracing) var(--border);
  
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 10px;

}


*::-webkit-scrollbar-track {
  background: var(--border);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--tracing);
  border-radius: 5px;
  border: 3px solid var(--border);
}